In [3]:
#Dependencies

import requests
import json
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# The path to our CSV file
file_gdp = "-rate-by-age.csv"

# Read Suicide Data our Kickstarter data into pandas
df = pd.read_csv(file)
df.head()

,Entity,Code,Year,"All ages (per 100,000)","70+ years old (per 100,000)","50-69 years old (per 100,000)","15-49 years old (per 100,000)","5-14 years old (per 100,000)","Age-standardized (per 100,000)"
0,Afghanistan,AFG,1990,5.895373,18.010179,8.941423,11.099777,0.410967,9.210877
1,Afghanistan,AFG,1991,6.011665,18.072845,9.158262,11.214831,0.414742,9.344000
2,Afghanistan,AFG,1992,6.130514,17.993764,9.364500,11.330904,0.418220,9.469053
3,Afghanistan,AFG,1993,6.244526,18.095485,9.550515,11.444176,0.423134,9.581032
4,Afghanistan,AFG,1994,6.402756,18.294775,9.807171,11.668494,0.432550,9.778655

In [5]:
x_axis = np.arange(len(Entity))

NameError: name 'Entity' is not defined